profisee-connector/src/main/resources/wsdl/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Drawing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Drawing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Service7.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Color">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="knownColor" type="xs:short" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="state" type="xs:short" />
      <xs:element name="value" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="Font">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##local" processContents="skip" />
    </xs:sequence>
    <xs:attribute ref="ser:FactoryType" />
  </xs:complexType>
  <xs:element name="Font" nillable="true" type="tns:Font" />
  <xs:simpleType name="FontStyle">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Regular">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Bold">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Italic">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Underline">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Strikeout">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="FontStyle" nillable="true" type="tns:FontStyle" />
  <xs:simpleType name="GraphicsUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="World" />
      <xs:enumeration value="Display" />
      <xs:enumeration value="Pixel" />
      <xs:enumeration value="Point" />
      <xs:enumeration value="Inch" />
      <xs:enumeration value="Document" />
      <xs:enumeration value="Millimeter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GraphicsUnit" nillable="true" type="tns:GraphicsUnit" />
</xs:schema>
